<div style="text-align: center">
  <h1>Routing</h1>
</div>

<nav>
  <a class="first" routerLink="/first" routerLinkActive="active">First</a>
  <a class="first" routerLink="/second" routerLinkActive="active">Second</a>
  <a class="first" routerLink="/users" routerLinkActive="active">Users</a>
  <a class="first" routerLink="/" routerLinkActive="active">Home</a>
</nav>

<br>
<nav>
  <a href="/first">First</a>
  <a href="/second">Second</a>
  <a href="/users">Users</a>
  <a href="/">Home</a>
</nav>

<br>
<input type="text">

<router-outlet></router-outlet>
